html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  height: 100vh;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background: linear-gradient(-45deg, #200152, #1a0049, #100029, #0a001b);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease-in-out infinite;
          animation: gradient 10s ease-in-out infinite;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.page-header {
  background-color: transparent;
}

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 1024px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.95;
  }
  .page-header__inner {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .page-header__inner {
    padding: 0 60px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 50px;
  display: none;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: #120133;
}

.main-nav__link {
  display: block;
  position: relative;
  border-bottom: 1px solid #17003d;
  outline: 0;
  text-decoration: none;
  margin: 0;
  padding: 15px 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
}

.main-nav__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  min-height: 30px;
  width: 30px;
  font-size: 0;
  border: 0;
  outline: 0;
  z-index: 10;
}

.main-nav__icon {
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 14px;
  left: 5px;
  background-color: white;
}

.main-nav__icon::before, .main-nav__icon::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-nav__icon::before {
  top: -5px;
}

.main-nav__icon::after {
  top: 5px;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
    padding: 0;
    background-color: transparent;
  }
  .main-nav__link {
    border: 0;
    padding: 10px 20px;
  }
  .main-nav__link::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .main-nav__link:hover::after {
    right: auto;
    left: 15%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 70%;
  }
  .main-nav__link--active::after, .main-nav__link:focus::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: white;
    bottom: 0;
    right: 10px;
    left: 10px;
    width: 80%;
  }
}

#menuToggle:checked ~ .page-header .main-nav__icon {
  background-color: transparent;
}

#menuToggle:checked ~ .page-header .main-nav__icon::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

#menuToggle:checked ~ .page-header .main-nav__icon::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

#menuToggle:checked ~ .page-header .main-nav__list {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.title {
  background-color: transparent;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.title__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 15px 20px;
  max-width: 768px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title__avatar {
  font-size: 0;
}

.title__avatar img {
  min-height: 100px;
  width: 100px;
  border-radius: 100%;
}

.title__hello {
  font-size: 30px;
  font-weight: 700;
  max-width: 100%;
  margin: 10px 0;
}

.title__desc {
  font-size: 16px;
  font-weight: 400;
  max-width: 100%;
  text-align: justify;
}

.title__btn {
  display: inline-block;
  height: 48px;
  border-radius: 6px;
  min-width: 160px;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  font-weight: 700;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.title__btn:hover, .title__btn:focus {
  outline: none;
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (min-width: 768px) {
  .title__inner {
    padding: 30px 40px;
  }
  .title__hello {
    font-size: 56px;
  }
  .title__desc {
    font-size: 26px;
  }
  .title__btn {
    height: 64px;
    min-width: 200px;
    font-size: 24px;
    line-height: 64px;
  }
}

@media (min-width: 1024px) {
  .title__inner {
    padding: 50px 60px;
  }
}

.about {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1024px;
}

.about__avatar {
  font-size: 0;
}

.about__avatar img {
  min-height: 100px;
  width: 100px;
  border-radius: 100%;
}

.about__desc {
  font-size: 16px;
  font-weight: 400;
  max-width: 100%;
  text-align: justify;
}

@media (min-width: 768px) {
  .about__inner {
    margin-top: 40px;
    padding: 20px 40px;
  }
  .about__desc {
    margin-left: 60px;
  }
}

@media (min-width: 1024px) {
  .about__inner {
    padding: 40px 60px;
  }
}

.skills {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
}

.skills__inner {
  margin: 0 auto;
  padding: 20px;
  max-width: 1024px;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__list span {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  background-color: #17003d;
  color: white;
}

.skills__title {
  font-size: 18px;
  font-weight: 700;
  color: #17003d;
}

@media (min-width: 768px) {
  .skills__inner {
    padding: 20px 40px;
  }
}

@media (min-width: 1024px) {
  .skills__inner {
    padding: 40px 60px;
  }
}

.portfolio {
  margin: 0;
  padding: 0;
}

.portfolio__inner {
  margin: 0 auto;
  padding: 20px;
  max-width: 1024px;
  text-align: center;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.portfolio__item {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  color: #17003d;
}

.portfolio__link {
  display: block;
  font-size: 0;
  outline: none;
}

.portfolio__link:hover, .portfolio__link:focus {
  opacity: 0.7;
}

.portfolio__image {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio__description {
  background-color: white;
  padding: 10px;
  min-height: 70px;
  text-align: left;
}

.portfolio__description h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.portfolio__description p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .portfolio__inner {
    padding: 20px 40px;
  }
  .portfolio__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    width: calc(100% / 2);
  }
}

@media (min-width: 1024px) {
  .portfolio__inner {
    padding: 40px 60px;
  }
  .portfolio__item {
    width: calc(100% / 3);
  }
}

.certificates {
  margin: 0;
  padding: 0;
}

.certificates__inner {
  margin: 0 auto;
  padding: 20px;
  max-width: 1024px;
  text-align: center;
}

.certificates__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.certificates__item {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  color: #17003d;
}

.certificates__link {
  display: block;
  font-size: 0;
  outline: none;
}

.certificates__link:hover {
  opacity: 0.7;
}

.certificates__image {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .certificates__inner {
    padding: 20px 40px;
  }
  .certificates__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    width: calc(100% / 2);
  }
}

@media (min-width: 1024px) {
  .certificates__inner {
    padding: 40px 60px;
  }
  .certificates__item {
    width: calc(100% / 3);
  }
}

.contacts {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__inner {
  margin: 0 auto;
  padding: 20px;
  max-width: 1024px;
  text-align: center;
}

.contacts__link {
  color: white;
}

.contacts__column {
  position: relative;
}

.contacts__fieldset {
  text-align: left;
}

.contacts__fieldset input {
  width: 100%;
  margin-bottom: 20px;
  outline: 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts__fieldset textarea {
  width: 100%;
  min-height: 200px;
  margin-bottom: 20px;
  padding: 10px;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  font-family: inherit;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contacts__fieldset button {
  min-height: 30px;
  font-weight: 700;
  color: white;
  background-color: #17003d;
  border: 1px solid white;
  border-radius: 3px;
  outline: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contacts__fieldset button:hover,
.contacts__fieldset button:focus {
  color: #17003d;
  background-color: white;
  border: 1px solid #17003d;
}

.contacts__status {
  display: none;
  width: 60%;
  margin: 0;
  position: absolute;
  right: 10px;
  text-align: right;
  font-size: 10px;
}

@media (min-width: 768px) {
  .contacts__inner {
    padding: 20px 40px;
  }
  .contacts__status {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .contacts__inner {
    padding: 40px 60px;
  }
}

.page-footer {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-footer__inner {
  margin: 0 auto;
  padding: 20px;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29px;
  min-height: 29px;
  margin-right: 10px;
  overflow: hidden;
  list-style: none;
  font-size: 0;
  vertical-align: top;
  opacity: 0.6;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.page-footer__social-item:hover, .page-footer__social-item:focus {
  outline: none;
  opacity: 1;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.page-footer__social-item--tg {
  background: url("../img/telegram.svg") no-repeat;
}

.page-footer__social-item--fb {
  background: url("../img/facebook.svg") no-repeat;
}

.page-footer__social-item--gh {
  background: url("../img/github.svg") no-repeat;
}

.page-footer__social-item--email {
  background: url("../img/email.svg") no-repeat;
}

.page-footer__copyright {
  color: white;
  opacity: 0.5;
  font-size: 12px;
  padding: 10px;
}

.page-footer__copyright p {
  margin: 0;
}

@media (min-width: 768px) {
  .page-footer__inner {
    padding: 20px 40px;
  }
  .page-footer__social {
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  .page-footer__inner {
    padding: 5px 60px;
  }
  .page-footer__social {
    padding: 20px 10px 10px;
  }
}

.service {
  margin: 0;
  padding: 0;
}

.service__inner {
  margin: 0 auto;
  padding: 20px;
  max-width: 1024px;
  text-align: center;
}

.service__title {
  font-size: 88px;
  margin-bottom: 16px;
}

.service__desc {
  font-size: 24px;
  margin-bottom: 24px;
}

.service__link {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

@media (min-width: 768px) {
  .service__inner {
    padding: 20px 40px;
  }
  .service__title {
    font-size: 120px;
  }
}

@media (min-width: 1024px) {
  .service__inner {
    padding: 40px 60px;
  }
}
